<%= form_for @application do |f| %>
  <div class="form-group">
    <%= f.text_field :url, class: 'form-control', placeholder: "url", autofocus: true %>
  </div>


  <%= f.submit "Submit", class: 'btn btn-primary' %>
<% end %>
