<div class="row down">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Edit Application</h3>
    </div>

    <div class="panel-body">
      <%= render partial: 'applications/form' %>
    </div>
  </div>
</div>
