<div class="row">
  <div class="col-md-2">
    <div class="panel panel-default side-bar">
      <div class="panel-body">
        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>&nbsp;<%= link_to 'Dashboard', @application %>
      </div>
      <div class="panel-body">
        <span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span>&nbsp;<%= link_to 'Charts', href: '#' %>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <h2>Dashboard for <%= @application.url %></h2>


  </div>
</div>
