<% content_for :jumbotron do %>
  <div class="jumbotron">
    <div class="containers">
      <div class="col-md-offset-6 col-md-6">
        <h2>Knowing your data is power</h2>
        <blockquote>
          "Conversion rates for Arc Reactor sales went up 400% after
           BlocMetrics showed us where we could make improvements."
           <footer>Tony Stark <cite title="Stark Industries">Stark Industries</cite></footer>
        </blockquote>
      </div>
    </div>
  </div>
<% end %>
